body, html {
    /*height: 100%;*/
    margin: 0 auto;
    /*padding: 0 0;*/
}

.bg {
    /* The image used */
    background-image: url("../image/logo.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    top: 50px;
    height: 100%;
}

.row{
    /*border: red 1px solid;*/
    /*margin: 0;*/
    /*padding: 0;*/
}

.header{
    position: absolute;
    top: 0px;
    height: 50px;
    /*width: 100%;*/
    background-color: black;
    /*border: 5px solid blue;*/
    margin: 0px auto;
}

.header .live_now{
    position: relative;
    left: 15px;
    color: white;
    font-size: 15px;
    line-height: 50px;
}

.header .live_now .dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: red;
    line-height: 12px;
    text-align: center;
    border-radius: 50%;

    position: relative;
    left: 10px;
    top: 2px;
}

/*.live_center{*/
/*    position: relative;*/
/*    top: 10px;*/
/*    width: 230px;*/
/*    height: 30px;*/
/*    border: 1px solid red;*/
/*    background: gray;*/
/*    color: white;*/
/*    text-align: center;*/
/*    line-height: 30px;*/
/*}*/

.live_title{
    position: relative;
    top: 10px;
    width: 230px;
    height: 30px;
    border: 1px solid red;
    background: gray;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}


/*.header .live_center .title_txt{*/
/*    color: white;*/
/*    text-align: center;*/
/*    background-color: gray;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*    letter-spacing: 1px;*/
/*}*/

.main{
    position: relative;
    top: 30px;
    width: 100%;
    height: 526px;
}

/*.main .left_area{*/
/*    */
/*}*/

/*.main .live_area{*/
/*    height: 284px;*/
/*}*/

/*.main .live_area .live_stream_cn{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.main .live_area .live_stream_en{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.main .right_area{*/
/*    position: relative;*/
/*    height: 568px;*/
/*    text-align: center;*/
/*    !*left: 20px;*!*/
/*}*/

/*.main .right_area .description{*/
/*    background-color: rgba(243, 241, 239, 0.5);*/
/*    margin: 5px 0px;*/

/*}*/

/*.main .right_area .active_time_cn{*/
/*    position: relative;*/
/*    left: -15px;*/
/*    width: 400px;*/
/*}*/

/*.main .right_area .active_time_en{*/
/*    position: relative;*/
/*    right: -15px;*/
/*    width: 400px;*/
/*}*/
/*.mian .right_area {*/
/*    position: relative;*/
/*    right: 15px;*/
/*}*/



/*!*.left_area .live_area{*!*/
/*!*    display: inline-block;*!*/
/*!*    padding: 50px 0px;*!*/
/*!*}*!*/

/*.live_area .live_stream{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*position: relative;*!*/
/*    !*left: 20px;*!*/
/*}*/



/*.main{*/
/*    position: relative;*/
/*    top: 80px;*/

/*}*/



/*.footer{*/
/*    background-color: white;*/
/*}*/

/*.footer .footer_href{*/
/*    padding-left: 250px;*/
/*}*/

/*.footer .footer_menu{*/
/*    padding: 0px 30px;*/
/*    display: inline-block;*/
/*}*/

/*.footer .footer_description{*/
/*    padding-left: 250px;*/
/*}*/